{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block greetings %}
<div class="text-center">
    <h1> "Stop Scammers" - остановите мошенников! 🚫  </h1>
</div>
{% endblock %}

{% block welcome_text %}
    <div class="text-center">
        <p>📞💻 <strong>Что вы найдете на нашем сайте:</strong> 💻📞</p>
        <ul style="list-style-type: none; padding-left: 0;">
            <li>📃 <strong>Список телефонных номеров мошенников:</strong> Полная база данных номеров, используемых мошенниками в различных видах афер. 😈</li>
            <li>🔍 <strong>Подробное описание мошеннических схем:</strong> Информация о распространенных способах мошенничества для вашей осторожности. 🕵️‍♀️</li>
            <li>👥 <strong>Сообщество пользователей:</strong> Общайтесь, делитесь информацией о новых номерах мошенников и своим опытом. 👫</li>
            <li>⚠️ <strong>Предупреждения и советы по защите:</strong> Оповещения о новых аферах и полезные рекомендации для предотвращения убытков. 🛡️</li>
        </ul>
        <br>
        <p>🎯 Наша цель - предоставить вам необходимую информацию и инструменты для защиты себя и близких от мошенников. 🤝😊</p>
        <p>⚠️📞💻 "Stop Scammers" - Остановим мошенников вместе! 💪✋💻</p>
    </div>
{% endblock %}

{% block titles %}
{% endblock %}