{% extends "base.html" %}

{% block description %}111{% endblock %}
{% block keywords %}2222{% endblock %}
{% block robots %}3333333{% endblock %}

{% block title %}Добавить{% endblock %}



{% block greetings %}

    <h1>Add Number</h1>
    <form action="/db/add/" method="POST">

        <label for="number">Number:</label>
        <input type="text" id="number" name="number" required><br><br>

        <label for="telegram_id">Telegram ID:</label>
        <input type="text" id="telegram_id" name="telegram_id" required><br><br>

        <label for="tag">Tag:</label>
        <input type="text" id="tag" name="tag" required><br><br>

        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment" required></textarea><br><br>

        <input type="submit" value="Add Record">
    </form>

{% endblock %}

{% block content %}
{% endblock %}
