{% extends "base.html" %}

{% block description %}111{% endblock %}
{% block keywords %}2222{% endblock %}
{% block robots %}3333333{% endblock %}

{% block title %}Добавить{% endblock %}

{% block welcome_text %}
<div style="display:flex; justify-content:flex-end;">
    <form action="/db/add/" method="POST" style="width: 50%;">
        <label for="number">Номер:</label><br>
        <select name="country">
            <option value="+7">Россия (+7)</option>
        </select>

        <input type="text" id="number" name="number" required><br><br>

        <label for="telegram_id">Ваш Telegram ID:</label><br>
        <input type="text" id="telegram_id" name="telegram_id" required><br><br>

        <label for="tag">Тег:</label><br>
        <select id="tag" name="tag">
            <option value="мошенник">Мошенник</option>
            <option value="ПРОВЕРКА 1">ПРОВЕРКА 1</option>
            <option value="ПРОВЕРКА 2">ПРОВЕРКА 2</option>
            <option value="ПРОВЕРКА 3">ПРОВЕРКА 3</option>
        </select><br><br>

        <label for="comment">Комментарий:</label><br>
        <textarea id="comment" name="comment" required rows="5" cols="50"></textarea><br><br>

        <input type="submit" value="Добавить"><br><br>

        <h4>Нажимая кнопку "Добавить" Вы подтверждаете, что осознаете все возможные риски и последствия.</h4>
    </form>

    <div style="width: 50%;">
        <h1>Пояснение</h1>
    </div>

</div>
{% endblock %}

