{% extends "base.html" %}

{% block description %}База данных номеров мошенников{% endblock %}
{% block keywords %}База, мошенники, данные{% endblock %}
{% block robots %}index,nofollow{% endblock %}

{% block title %}База данных{% endblock %}



{% block greetings %}
{% endblock %}

{% block content %}

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID номера</th>
                    <th>Номер</th>
                    <th>Тег</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for number in all_number_db.items %}
                    <tr>
                        <td>{{ number.id }}</td>
                        <td>{{ number.number }}</td>
                        <td>{{ number.tag }}</td>
                        <td><a class="btn btn-outline-primary" target="_self" href="/db/{{ number.id }}" role="button">Подробнее</a>  </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% if all_number_db.pages > 1 %}
    {% if all_number_db.prev_num %}
        <a class="btn btn-outline-dark" href="{{ url_for('db', page=all_number_db.prev_num, per_page=all_number_db.per_page) }}" role="button"><<</a>
    {% endif %}

    {% for num in range(1, all_number_db.pages + 1) %}
        {% if num == all_number_db.page %}
            <a class="btn btn-success" href="#" role="button">{{ num }}</a>
        {% else %}
            {% if num >= all_number_db.page - 2 and num <= all_number_db.page + 2 %}
                <a class="btn btn-primary" href="{{ url_for('db', page=num, per_page=all_number_db.per_page) }}" role="button">{{ num }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if all_number_db.next_num %}
        <a class="btn btn-outline-dark" href="{{ url_for('db', page=all_number_db.next_num, per_page=all_number_db.per_page) }}" role="button">>></a>
    {% endif %}
{% endif %}


{% endblock %}


