{% extends "base.html" %}

{% block description %}Stop Scammers - остановите мошенников!{% endblock %}
{% block keywords %}Мошенники, скам, безопасность{% endblock %}
{% block robots %}index,follow{% endblock %}

{% block title %}"Stop Scammers" - остановите мошенников! 🚫{% endblock %}

{% block greetings %}
    <div class="text-center">
        <h1> "Stop Scammers" - остановите мошенников! 🚫  </h1>
    </div>
{% endblock %}

{% block welcome_text %}
    <div class="text-center">
        <p>✋🚫🤥 <strong>Добро пожаловать на "Stop Scammers"!</strong> 🤥🚫✋</p>
        <p>🌐 Веб-платформа, посвященная борьбе с телефонным мошенничеством. 📵</p>
        <br>
    </div>
    <form action="/" method="POST" style="width: 43%;">
        <label for="number">Поиск номера в базе данных:</label><br>
        <input type="text" id="number" name="number" required><br>
        <h4>Вводите номер в формате  +79992221122</h4><br>
        <input type="submit" value="Поиск"><br>
    </form>
{% endblock %}

{% block titles %}
    {% if count_db == 0 %}
        <div class="text-center">
            <h1><strong>База данных пуста</strong></h1>
        </div>
    {% else %}
        <div class="text-center">
            <br><br><p><strong>В данное время база данных насчитывает</strong> - {{ count_db }} номеров</p>
        </div>
    {% endif %}
{% endblock %}