{% extends "base.html" %}

{% block description %}111{% endblock %}
{% block keywords %}2222{% endblock %}
{% block robots %}3333333{% endblock %}

{% block title %}Home{% endblock %}

{% block greetings %}
<div class="text-center">
    <h1> "Stop Scammers" - остановите мошенников! 🚫  </h1>
</div>
{% endblock %}

{% block welcome_text %}
    <div class="text-center">
        <p>✋🚫🤥 <strong>Добро пожаловать на "Stop Scammers"!</strong> 🤥🚫✋</p>
        <p>🌐 Веб-платформа, посвященная борьбе с телефонным мошенничеством. 📵</p>
        <br>
    </div>
{% endblock %}

{% block titles %}
    {% if count_db == 0 %}
        <div class="text-center">
            <h1><strong>База данных пуста</strong></h1>
        </div>
    {% else %}
        <div class="text-center">
            <p><strong>В данное время база данных насчитывает</strong> - {{ count_db }} номеров</p>
        </div>
    {% endif %}
{% endblock %}