{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block greetings %}
<div class="text-center">
    <h1> "Stop Scammers" - остановите мошенников! 🚫  </h1>
</div>
{% endblock %}

{% block welcome_text %}
    <div class="text-center">
        <p>✋🚫🤥 <strong>Добро пожаловать на "Stop Scammers"!</strong> 🤥🚫✋</p>
        <p>🌐 Веб-платформа, посвященная борьбе с телефонным мошенничеством. 📵</p>
        <br>
    </div>
{% endblock %}

{% block titles %}

<div class="text-center">
    <p><strong>В данное время база данных насчитывает</strong> - {{ count_db }} номеров</p>
</div>

{% endblock %}